.c-image__large {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.c-image {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

.c-image__small {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}
